.page-header {
    margin-top:20px;
    margin-bottom:20px;
}

.section--navbar {
    margin-bottom:80px;
}

section:not(section.shown) {
    display: none;
}

.btn-primary {
    margin-bottom:20px;
    margin-top:20px;
}

.error {
	color: #dc3545;
}

.field small {
	color: #dc3545;
}

.horizontal .field small {
	grid-column: 2 / 3;
}

/* input success */
input.success,
textarea.success,
select.success {
	border-color: #198754;
}

input.success:focus,
textarea.success:focus {
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.step-instruction {
    padding-top:20px;
    padding-bottom:20px;
}
