label {
  float: left;
  font-size: 18px;
  margin-left: 15px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  font-family: Oxygen, sans-serif;
}
.section--create-recipe {
  background-color: transparent;
}

h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
}

input {
  height: 20px;
  flex: 0 0 300px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1 px solid #ced4da;
  border-radius: 0.6rem;
  font-size: 1.25rem;
}

textarea {
  margin-left: 10px;
}

legend {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

#ingredient1cost {
  margin-left: 0px;
}

#ingredient2cost {
  margin-left: 0px;
}

::placeholder {
  font-style: inherit;
  font-size: 1em;
  padding: 5px;
  color: #666;
}

span {
  color: #666;
}

.btn-add {
  margin-left: 140px;
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #9ed1fc;
}

.btn-remove {
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: rgb(211, 93, 116);
}

.btn-submit {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #a5d4bd;
}

.btn-add:hover {
  cursor: pointer;
  background: #3c9eee;
}
.btn-submit:hover {
  cursor: pointer;
  background: #28d17c;
}
.btn-remove:hover {
  cursor: pointer;
  background: crimson;
}

.invalid-feedback {
  /* display: none; */
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #ff7851;
}

img{
  margin-left: 150px; 
  margin-right: auto;
  display: block;
}

fieldset > div {
  margin: auto;
  text-align: center;
  width: 90%;
}











