label {
  float: left;
  font-size: 18px;
  padding-right: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}
.section--create-recipe {
  background-color: transparent;
}

h2 {
  font-family:"Montserrat", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  font-size: 1.25rem;
  font: inherit;
}

textarea {
  margin-right: auto;
  display: block;
  color: inherit;
  font: inherit;
  margin: 0;
  height: auto;
}

legend {
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

#ingredient1cost {
  margin-left: 0px;
}

#ingredient2cost {
  margin-left: 0px;
}

::placeholder {
  font-style: inherit;
  font-size: 1em;
  padding: 5px;
  color: #666;
}

span {
  color: #666;
}

.btn-add {
  margin-left: 70px;
  margin-top: 15px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #9ed1fc;
}

.btn-remove {
  margin-top: 15px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: rgb(211, 93, 116);
}

.btn-submit {
  margin-top: 20px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #a5d4bd;
}

.btn-add:hover {
  cursor: pointer;
  background: #3c9eee;
}
.btn-submit:hover {
  cursor: pointer;
  background: #28d17c;
}
.btn-remove:hover {
  cursor: pointer;
  background: crimson;
}

.invalid-feedback {
  /* display: none; */
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #ff7851;
}

#img-spot img{
  /* margin-left: 50px;  */
  /* margin-right: auto; */
  height: 200px;
  width: 220px;
  vertical-align: middle;
  text-align: center;
}

fieldset > div{
  margin: auto;
  text-align: center;
  width: 90%;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  line-height: 1.5;
}

.form-control {
  display: block;
  width: 95%;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: auto;
}

.recipeInfo-sec{
  text-align: center;
}

.dark .form-control {
  background-color: #666;
  color: #86c7a7;
  font-weight: 600;
  text-shadow:1px 1px 7px #86c7a7;

}

.dark ::placeholder {
  color: #86c7a7;
  font-weight:400;
}

.buttons {
  width:90%;
}

.buttons > button {
  margin-left:10%;
  margin-right:10%;
}

button {
  border: 1px;
}