body {
    font-family: Arial, Helvetica, sans-serif;
}

label{
    float: left;
    font-size: 18px;
    margin-left: 20px;
    color: rgba(235, 16, 16, 0.6);
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

.section--create-recipe{
    background-color: #ecf8f5;
}

h2 {
    color: rgba(235, 16, 16, 0.6);
    text-decoration: underline;
    text-align: center;
    
    font-size: 150%;
    margin: 10px;

    display: block;
}

input{
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

textarea{
    margin-left: 10px;
} 

legend{
    font-size: 20px;
    color: #666;
    text-align: left;
    padding-right: 10px;
}

#ingredient1cost{
    margin-left: 0px;
}

#ingredient2cost{
    margin-left: 0px;
}

::placeholder {
    font-style:inherit;
    font-size: 1em;
    padding: 5px;
    color: #666;
}

span{
    color: #666;
}

.btn-add-ingred, .btn-add-step{
    margin-left: 140px;
    margin-bottom: 20px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    background: rgb(243, 150, 154);
}

.btn-submit{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    background: rgb(243, 150, 154);
}

.btn-add-ingred:hover, .btn-add-step:hover, .btn-submit:hover{
    cursor: pointer;
    background: rgb(231, 16, 27);
}