label {
  float: left;
  font-size: 18px;
  margin-left: 15px;
  width: 180px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  font-family: Oxygen, sans-serif;
}

:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --hover-color:rgb(48, 46, 46);
  --item-color:#666;
}
header a {
  color:var(--item-color);
  text-decoration: none;
}
:root.dark {
  --bg-color: #121212;
  --text-color: #86c7a7;
  --hover-color:#fff;
  --item-color:rgb(175, 174, 174);
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0px 0px 0px 0px;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.toggle-container {
  position: relative;
}

.theme-btn img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}
.section--create-recipe {
  background-color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}

textarea {
  margin-left: 10px;
}

legend {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
  margin-top:10px;
}

#ingredient1cost {
  margin-left: 0px;
}

#ingredient2cost {
  margin-left: 0px;
}

::placeholder {
  font-style: inherit;
  font-size: 1em;
  padding: 5px;
  color: #666;
}

span {
  color: #666;
}

.btn-add {
  margin-left: 140px;
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #9ed1fc;
}

.btn-remove {
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: rgb(211, 93, 116);
}

.btn-submit {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  background: #a5d4bd;
}

.btn-add:hover{
  cursor: pointer;
  background: #3c9eee;
}
.btn-submit:hover{
  cursor: pointer;
  background: #28d17c;
}
.btn-remove:hover {
  cursor: pointer;
  background: crimson;
}

.invalid-feedback {
  /* display: none; */
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #ff7851;
}
