html {
  background-color: #fff;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

header {
  margin: 8px;
  margin-top: 16px;
}

section:not(.shown) {
  display: none;
}
.wrapper {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
  min-width: 350px;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px #cfd8dc;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: #fff;
  position: relative;

  /* // &__btn {
  //   padding: 1rem;
  //   font-family: inherit;
  //   font-weight: bold;
  //   font-size: 1rem;
  //   margin: 1rem;
  //   border: 2px solid var(--clr-primary);
  //   background: transparent;
  //   color: var(--clr-primary);
  //   border-radius: var(--radius);
  //   transition: background 200ms ease-in, color 200ms ease-in;
  // }

  // &:hover &__btn {
  //   background: var(--clr-primary);
  //   color: white;
  // } */
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 1rem 1rem;
}

.card:hover {
  transform: scale(1.02);
}

.card__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.info-row {
  list-style: none;
  margin: 0.5em auto;
  padding: 0;
  vertical-align: bottom;
}

.info-row li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}

.info-row li span {
  margin-left: 0.5em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}

.add-to-cookbook a .fa-plus {
  background: #57abf2;
  border-radius: 50%;
  position: absolute;
  top: 10.75rem;
  right: 10%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding: 0.6rem 0.52rem;
}

section.search {
  padding: 10px;
}

.search-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.search-introduction {
  font-size: 36px;
  line-height: 1.333;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 20px;
}

form {
  background-color: hsl(0, 0%, 92%);
  min-width: 300px;
  max-width: 700px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

input {
  all: unset;
  font: 18px;
  color: #666;
  height: 100%;
  width: 100%;
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: auto;
}

/*
::placeholder {
  color: #666;
  opacity: 0.7; 
}
*/

#search-button {
  all: unset;
  cursor: pointer;
  width: 75px;
  height: 50px;
  background-color: crimson;
  border-radius: 5px;
}

#search-button > .icon {
  padding-left: 23px;
  color: white;
}

/*
svg {
  color: #fff;
  fill: #fff;
  width: 26px;
  height: 26px;
  padding-left: 20px;  
}
*/
