
:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --hover-color:rgb(48, 46, 46);
  --item-color:#666;
}

:root.dark {
  --bg-color: #121212;
  --text-color: #86c7a7;
  --hover-color:#fff;
  --item-color:rgb(175, 174, 174);
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
.theme-btn {
  width: 10em;
  height: 10em;
  padding: 0px 0px 10px 10px;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.toggle-container {
  position: relative;
}

.theme-btn img {
  max-height:50%;
  max-width:50%;
  /*
  height: 50%;
  width: 50%;
  */
  object-fit: contain;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */



section:not(.shown) {
  display: none;
}
.wrapper {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
  min-width: 350px;
}

section.search {
  padding: 10px;
}
.search-dropdown {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.search-dropdown > select {
  text-align: center;
  width: 150px;
  height: 25px;
  margin: 10px;
  border-radius: 12px;
}
.search-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.search-introduction {
  font-size: 36px;
  line-height: 1.333;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

form {
  background-color: hsl(0, 0%, 92%);
  min-width: 300px;
  max-width: 700px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

input {
  all: unset;
  font: 18px;
  color: #666;
  height: 100%;
  width: 100%;
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: auto;
}

/*
::placeholder {
  color: #666;
  opacity: 0.7; 
}
*/

#search-button {
  all: unset;
  cursor: pointer;
  width: 75px;
  height: 50px;
  background-color: rgb(226, 100, 125);
  border-radius: 5px;
}

#search-button:hover {
  cursor: pointer;
  background: crimson;
}

#search-button > .icon {
  padding-left: 23px;
  color: white;
}

/*
svg {
  color: #fff;
  fill: #fff;
  width: 26px;
  height: 26px;
  padding-left: 20px;  
}
*/
