@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap");
body {
  /* background: #fff; */
  background: #f8f8ff;
  font: "Montserrat", sans-serif;
  color: #353935;
  min-width: 350px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.toggle-container {
  position: relative;
}

.theme-btn img {
  max-height: 50%;
  max-width: 50%;
  /*
  height: 50%;
  width: 50%;
  */
  object-fit: contain;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}
:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
  --hover-color: rgb(48, 46, 46);
  --item-color: #666;
  --card-bg-color:#fff;
  --card-shadow-color:#939697;
  --is-solid:solid;
  --border-color:black;
}

:root.dark {
  --card-shadow-color:#fff;
  --bg-color: #121212;
  --text-color: #123;
  --hover-color: #fff;
  --item-color: rgb(175, 174, 174);
  --card-bg-color:#2c2929;
  --is-solid:solid;
  --border-color:rgb(175, 174, 174);

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0px 0px 0px 0px;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.toggle-container {
  position: relative;
}
/*
.themes button{
  margin-left:auto;
}
*/

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.navbar {
  width: 100%;
  background-color: transparent;
  overflow: auto;
}

.navbar-link {
  float: left;
  /*padding: 12px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%; /* 4 links of equal widths */
  text-align: center;
}
header a {
  display: block;
  float: left;
}
header button {
  display: block;
  float: right;
}
.navbar-link a {
  color: var(--item-color);
  text-decoration: none;
  font-size: 32px;
  text-align: center;
}

.navbar-link a:hover {
  color: var(--hover-color);
}

@media screen and (max-width: 655px) {
  .navbar .navbar-link {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  header header button {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.container {
  width: 90%;
  margin: 50px auto;
  /* background-color: #eee; */
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 0.3rem;
  border:solid;
  border-color:var(--border-color);
}

.recipe-image {
  height: 625px;
  width: 625px;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

#recipeDetails {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    margin: 50px auto;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  #recipeDetails {
    width: 100%;
  }
  .recipe-image {
    width: 100%;
    height: 87.5vw;
  }
  .recipe-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
}

.recipe-body {
  padding: 20px;
}

.recipe-title {
  padding: 0;
  margin: 0 0 0;
}

.recipe-desc {
  font-size: 13px;
  color: #b2beb5;
  margin-bottom: 30px;
}

ul.info-row {
  list-style: none;
  margin: 1rem 0rem;
  padding: 0;
  vertical-align: bottom;
}

.info-row li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}

.info-row li span {
  margin-left: 0.5em;
  font-weight: 300;
  vertical-align: middle;
  color: #353935;
}

.recipe-nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #b9ebd2;
}

.recipe-nav li {
  display: inline-block;
  margin-right: 30px;
}

.recipe-nav h3 {
  margin: 0;
  padding: 0;
}

.recipe-nav h3:after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 10px;
  margin: 0 auto;
  border-bottom: 5px solid #b9ebd2;
  -webkit-transition: width 250ms ease-in-out 0s;
  transition: width 250ms ease-in-out 0s;
}

.recipe-nav h3:hover {
  cursor: pointer;
}

.recipe-nav h3:hover:after,
.recipe-nav h3.active:after {
  width: 100%;
}

#ingredient-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  -webkit-column-count: 2;
  column-count: 2;
}

#ingredient-list li {
  margin-bottom: 5px;
}

#ingredient-list li:before {
  content: "\2022";
  color: #b9ebd2;
  margin-right: 5px;
}

#step-list {
  display: none;
}
